@{
    ViewData["Title"] = "作业缓存";
    //车道代理缓存
}
<!DOCTYPE html5>
<html lang="eng">
<head>
    <meta charset="utf-8" />
    <title>none</title>
    <script src="http://oion935wi.bkt.clouddn.com/jquery-1.6.4.min.js"></script>
    <script src="http://oion935wi.bkt.clouddn.com/jquery.signalR-2.2.1.min.js"></script>
    @*<script src="Scripts/jquery.signalR-2.2.1.js"></script>*@
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    @*<script src="http://60.205.200.73:5000/signalr/hubs"></script>*@
    @*<script src="http://139.199.225.84:5001/signalr/hubs"></script>*@
    @*<script src="http://localhost:5000/signalr/hubs"></script>*@
    <script src="~/signalr/hubs"></script>
    <style>
        body {
            background-image: url("http://ohe5u4k9s.bkt.clouddn.com/bg.jpg");
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
            color: #333333;
            background-color: #ffffff;
        }

        div {
            border-radius: 5%;
        }

        #ChildDiv {
            width: 50%;
            height: 50px;
        }

        #MajiKo {
            width: 50%;
            height: 50%;
            margin-left: 55%;
        }

        #TText {
            width: 75%;
            height: 75%;
        }
    </style>
</head>
<body>
    @*<div class="span8">
        <table class="table table-bordered" id="MessageStatus-Table">
            <tr>
                <td>消息类型</td>
                <td>消息对象（对象）</td>
            </tr>
        </table>
    </div>*@
    <div class="span8">
        <table class="table table-bordered" id="MessageContent-Table">
            <tr>Queues
                <td>Value</td>
            </tr>
        </table>
    </div>
    @*<div class="span8">
        <table class="table table-bordered" id="LaneStatus-Table">
            <tr>
                <td>当前状态</td>
                <td>作业开始时间</td>
                <td>作业结束时间</td>
                <td>车牌号</td>
                <td>ORC识别车牌号</td>
                <td>RFID电子车牌号</td>
                <td>地磅重量</td>
                <td>起落杆状态</td>
                <td>IC卡读卡号</td>
                <td>进度条“车道就绪”</td>
                <td>进度条“感应来车”</td>
                <td>进度条“车牌读卡”</td>
                <td>进度条“车牌识别”</td>
                <td>进度条“箱号识别”</td>
                <td>进度条“司机读卡”</td>
                <td>进度条“箱体验残”</td>
                <td>进度条“提交TOS”</td>
                <td>进度条“TOS反馈”</td>
                <td>进度条“打印小票”</td>
                <td>进度条“抬杆放行”</td>
                <td>验残次数</td>
                <td>残损记录数</td>
                <td>车头图片URL</td>
                <td>前顶图片URL</td>
                <td>后顶图片URL</td>
                <td>左前图片URL</td>
                <td>左后图片URL</td>
                <td>右前图片URL</td>
                <td>右后图片URL</td>
                <td>左面箱体拼接图片URL</td>
                <td>右面箱体拼接图片URL</td>
                <td>顶面箱体拼接图片URL</td>
                <td>集装箱列表（对象数组）</td>
            </tr>
        </table>
    </div>
    <div class="span8">
        <table class="table table-bordered" id="Containers-Table">
            <tr>
                <td>位置</td>
                <td>集装箱号</td>
                <td>OCR识别集装箱号</td>
                <td>ISO码</td>
                <td>残损信息数组(对象数组)</td>
            </tr>
        </table>
    </div>
    <div class="span8">
    <table class="table table-bordered" id="Damage-Table">
        <tr>
            <td>残损面</td>
            <td>残损代码</td>
            <td>残损等级</td>           
        </tr>
    </table>*@
</div>


    <script type="text/javascript">

        $.connection.hub.start().done(function () {//与Hub服务器连接
           
        });

        var proxy = $.connection.messageHub; //连接到具体的Hub.

        proxy.client.GetQueueList = function (datas) {
            var lane_caches = JSON.parse(datas);

            $("#MessageContent-Table tr:not(:first)").empty("");
         

            for (var i = 0; i < lane_caches.length; i++) {

                var messageContent = lane_caches[i];
                $("#MessageContent-Table").append(
                    "<tr><td>" + JSON.stringify(messageContent)
                    + "</tr>"
                )

            }//外部FOR循环

        }
    

      






    </script>
</body>
</html>
